.git
.gitignore
.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.log
.pytest_cache/
.coverage
htmlcov/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover 